html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
select,
input,
option,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

ul {
    list-style-type: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
textarea {
    border-radius: 0;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

a:hover {
    text-decoration: none;
}

a:hover {
    outline: none;
    cursor: pointer;
}

a:focus {
    outline: none;
    cursor: pointer;
}

:focus {
    outline: none;
    box-shadow: none;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

/* End Clearfix */

/* For IE 6/7 (trigger hasLayout) */

a,
button,
.btn {
    outline: none !important;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    text-decoration: none !important;
}



body {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}




/******************   header    *************/


.header_content{
    width: 100%;
    margin: 0px;
    padding-top: 20px;
}

.header_content .header_top{
    margin: 0px;
}

.header_content .header_top .contact_text{
    padding: 0px;
}

.header_content .header_top .contact_text .icon i{
    color: #0067b1;
    margin-top: 10px;
}

.header_content .header_top .contact_text h3{
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #32405d;
}

.header_content .header_top .contact_text p{
    font-weight: 500;
    font-size: 16px;
    color: #99a5b4;
}

.header_content .header_top .contact_text .contact_phone{
    position: relative;
}

.header_content .header_top .contact_text .contact_phone::before{
    position: absolute;
    content: "";
    border-right: 1px solid #e6e9ec;    
    height: 50px;
    right: -10px;
}

.header_content .header_top .contact_text .contact_mail{
    padding-left: 35px;
    position: relative;
}

.header_content .header_top .contact_text .contact_mail::before{
    position: absolute;
    content: "";
    border-right: 1px solid #e6e9ec;    
    height: 50px;
    right: -10px;
}

.header_content .header_top .contact_text .language .text{
    margin-top: 10px;
}

.header_content .header_top .contact_text .language .text .english{
    color: #0067b1;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    padding-right: 30px;
}

.header_content .header_top .contact_text .language .text a:hover{
    color: #f59d13;
}

.header_content .header_top .contact_text .language .text .gujarati{
    color: #6b7c93;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
}

.header_content .header_bottom .navbar.navbar-expand-lg {
	padding-bottom: 0px;
}

.header_content .header_bottom .navbar-nav a{
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #32405d;
    padding: 16px;
    border: 1px solid #e6e9ec;
    text-align: center;
}

.header_content .header_bottom .navbar-nav a:hover{
    color: #f59d13;
}

.test {
	background-color: #ffffff;
	position: fixed;
	width: 100%;
	z-index: 1099;
	box-sizing: border-box;
	box-shadow: 3px -13px 20px black;
	transition: 0.5s ease-in-out;
	top: 0;
}


/******************   page 1    *************/


.page_1{
    width: 100%;
    background-image: url(../Images/pg1_bg_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 170px;
    padding-bottom: 170px;
}

.page_1 .text_content h1{
    font-weight: 800;
    font-size: 42px;
    text-transform: capitalize;
    color: #f59d13;
}

.page_1 .text_content p{
    font-weight: 400;
    font-size: 22px;
    text-transform: capitalize;
    color: #ffffff;
    margin-top: 20px;
}

.page_1 .text_content button{
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 40px;
}

.page_1 .text_content button:hover{
    color: #f59d13;
    border: 1px solid #f59d13;
}

.page_1 .carousel-indicators {
	bottom: -150px;
}

.page_1 .carousel-indicators [data-bs-target] {
	width: 15px;
	height: 15px;
	border-top: 0px solid transparent;
	border-bottom: 0px solid transparent;
    border-radius: 50px;
}




/******************   page 2    *************/
    


.page_2{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 50px;
}

.page_2 .pg2_content{
    margin: 0px;
    width: 100%;
}

      /***  All head_text css ***/

.head_text h1{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 32px;
    color: #32405d;
    position: relative;
}

.head_text h1::before {
	position: absolute;
	content: "";
	width: 60px;
	border-bottom: 3px solid #0067b1;
	bottom: -20px;
	left: 47%;
}

      /****  ***/



.page_2 .pg2_content .winning_content{
    margin: 0px;
    margin-top: 100px;
}

.page_2 .pg2_content .winning_content img{
    width: 89px;
    height: 81px;
}

.page_2 .pg2_content .winning_content .technology {
	border: 1px solid #e6e9ec;
	padding: 50px 15px;
	border-radius: 5px;
	margin-right: 30px;
    position: relative;
}

.page_2 .pg2_content .winning_content .technology::before,
.page_2 .pg2_content .winning_content .technology::after {
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	transition: all 300ms ease-in-out;
}

.page_2 .pg2_content .winning_content .technology::before {
	top: -10px;
	left: -10px;
	border-top: 1px solid #0067b1;
	border-left: 1px solid #0067b1;
    border-radius: 10px;
}

.page_2 .pg2_content .winning_content .technology::after {
	bottom: -10px;
	right: -10px;
	border-bottom: 1px solid #0067b1;
	border-right: 1px solid #0067b1;
    border-radius: 10px;
}

.page_2 .pg2_content .winning_content .technology:hover::before {
	width: calc(100% + 19px);
	height: calc(100% + 19px);
}

.page_2 .pg2_content .winning_content .technology:hover::after {
	width: calc(100% + 20px);
	height: calc(100% + 20px);
}

.page_2 .pg2_content .winning_content .technology:last-of-type{
    margin-right: 0px;
}

.page_2 .pg2_content .winning_content h3{
    font-weight: 500;
    font-size: 22px;
    color: #0067b1;
    text-transform: capitalize;
    margin-top: 30px;
}

.page_2 .pg2_content .winning_content p{
    font-weight: 400;
    font-size: 16px;
    color: #6b7c93;
    margin-top: 20px
}




/******************   page 3    *************/



.page_3{
    width: 100%;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
}

.page_3 .pg3_content{
    margin: 0px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.page_3 .pg3_content .text_content h1{
    margin-bottom: 50px;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 32px;
    color: #32405d;
    position: relative;
}

.page_3 .pg3_content .text_content h1::before{
    position: absolute;
	content: "";
	width: 60px;
	border-bottom: 3px solid #0067b1;
	bottom: -20px;
	left: 0;
}

.page_3 .pg3_content .text_content p{
    font-weight: 400;
    font-size: 16px;
    color: #586277;
    margin-top: 25px;
}

.page_3 .pg3_content .text_content p .color{
    color: #0067b1;
}

.page_3 .pg3_content .text_content button{
    background-color: transparent;
    border: 1px solid #32405a;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #32405a;
    margin-top: 20px;
}

.page_3 .pg3_content .text_content button:hover{
    color: #f59d13;
    border: 1px solid #f59d13;
}

.page_3 .pg3_content .img_content{
    padding-top: 90px;
}

.page_3 .pg3_content .img_content img{
    width: 360px;
    height: 312px;
}



/******************   page 4    *************/



.page_4{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.page_4 .pg4_content .img_content{
    padding-top: 70px;
    text-align: center;
}

.page_4 .pg4_content .img_content a{
    margin-right: 40px;
}

.page_4 .pg4_content .img_content a:last-of-type{
    margin-right: 0px;
}

.page_4 .pg4_content .img_content img{
    width: 530px;
    height: 318px;
    cursor: pointer;
}



/******************   page 5    *************/


.page_5{
    background-image: url(../Images/pg5_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.page_5 .pg5_content{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
}

.page_5 .pg5_content h1{
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
    position: relative;
    margin-bottom: 50px;

}

.page_5 .pg5_content h1::before{
    position: absolute;
	content: "";
	width: 60px;
	border-bottom: 3px solid #ffffff;
	bottom: -20px;
	left: 47%;
}

.page_5 .pg5_content p{
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.page_5 .pg5_content .number_content{
    margin-top: 60px;
}

.page_5 .pg5_content .number_content h3{
    font-weight: 700;
    font-size: 56px;
    color: #f59d13;
}

.page_5 .pg5_content .number_content .years{
    position: relative;
}

.page_5 .pg5_content .number_content .years::before {
	position: absolute;
	content: "+";
	font-weight: 200;
	font-size: 65px;
	color: #c6dceb;
	right: -15px;
	top: 30px;
}

.page_5 .pg5_content .number_content .clients{
    position: relative;
}

.page_5 .pg5_content .number_content .clients::before {
	position: absolute;
	content: "+";
	font-weight: 200;
	font-size: 65px;
	color: #c6dceb;
	right: -15px;
	top: 30px;
}
       


/******************   page 6    *************/


.page_6{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
}

.page_6 .pg6_content{
    width: 100%;
    margin: 0px;
}

.page_6 .pg6_content .head_text{
    margin-bottom: 100px;
}

.page_6 .pg6_content .box_content{
    margin: 0px;
}

.page_6 .manufacturing {
	padding: 25px 10px;
	background-color: #ffffff;
	border-radius: 5px;
	margin-right: 25px;
}


.page_6 .manufacturing:last-of-type{
    margin-right: 0px;
}

.page_6 .manufacturing h1{
    font-weight: 700;
    font-size: 22px;
    color: #0067b1;
    text-transform: capitalize;
    margin-bottom: 50px;
    position: relative;
}

.page_6 .manufacturing h1::before{
    position: absolute;
	content: "";
	width: 60px;
	border-bottom: 3px solid #0067b1;
	bottom: -20px;
	left: 40%;
}

.page_6 .manufacturing p{
    font-weight: 400;
    font-size: 16px;
    color: #6b7c93;

}

.page_6 .manufacturing button{
    background-color: transparent;
    border: 1px solid #32405a;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #32405a;
    margin-top: 20px;
}

.page_6 .manufacturing:hover{
	background-color: #0067b1;
	box-shadow: 0px 0px 35px #acc7da;
    transition: all 0.7s ease-in-out 0s;
}

.page_6 .manufacturing:hover h1{
    color: #ffffff;
}

.page_6 .manufacturing:hover p{
    color: #ffffff;
}


.page_6  .manufacturing:hover h1::before{
	border-color: #ffffff;
}


.page_6 .manufacturing:hover button{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #0067b1;
    margin-top: 20px;
}

.page_6 .manufacturing:hover button:hover{
    background-color: transparent;
    border-color: #f59d13;
    color: #f59d13;
}




/******************   page 7    *************/


.page_7{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image:url(../Images/pg7_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.page_7 .pg7_content{
    width: 100%;
    margin: 0px;
}

.page_7 .pg7_content .text_content h1{
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
    text-transform: capitalize;
}

.page_7 .pg7_content .text_content h1 .color{
    color: #f59d13;
}

.page_7 .pg7_content .pg7_btn button{
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
}

.page_7 .pg7_content .pg7_btn button:hover{
    color: #f59d13;
    border: 1px solid #f59d13;
}




/******************   page 8    *************/



.page_8{
    width: 100%;
    background-color: #f5f5f5;
}

.page_8 .pg8_content{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 100px;

}

.page_8 .pg8_content .client{
    margin-top: 80px;
}

.page_8 .pg8_content .client .text_content p{
    font-weight: 500;
    font-size: 16px;
    color: #60728a;
    font-style: italic;
}

.page_8 .pg8_content .client .text_content h3{
    font-weight: 700;
    font-size: 18px;
    color: #0067b1;
}

.page_8 .pg8_content .client .fa-chevron-left::before {
	content: "\f053";
	color: #9faab8;
	font-size: 10px;
	
}

.page_8 .pg8_content .client .fa-chevron-right::before {
	content: "\f054";
	color: #9faab8;
    font-size: 10px;
    
}


/******************   page 9    *************/


.page_9{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.page_9 .pg9_content{
    width: 100%;
    display: inline-block;
}

.page_9 .pg9_content img{
    width: 230px;
    height: 130px;
    border: 1px solid #eeefef;
    border-radius: 5px;
    margin-right: 20px;
}

.page_9 .pg9_content img:last-of-type{
    margin-right: 0px;
}




/******************   footer    *************/



.footer{
    width: 100%;
    background-color: #32405d;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer .footer_content{
    width: 100%;
    margin: 0px;
    padding-top: 70px;
    padding-bottom: 10px;
    position: relative;
}

.footer .footer_content .footer_top{
    padding-bottom: 20px;
}

.top_button .icon img {
	position: absolute;
	right: -34px;
	bottom: 18px;
	color: #fff;
	z-index: 99999;
}

.footer .footer_content .footer_top h1{
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 35px;
    position: relative;
}

.footer .footer_content .footer_top h1::before{
    position: absolute;
	content: "";
	width: 60px;
	border-bottom: 1px solid #5c6e83;
	bottom: -15px;
	left: 0;
}

.footer .footer_content p{
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #8699a8;
}

.footer .footer_content .footer_top li a{
    font-weight: 600;
    font-size: 16px;
    color: #5c6e83;
    text-transform: capitalize;
}

.footer .footer_content .footer_top li a:hover{
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.footer .footer_content .footer_top .contact .icon i{
    color: #8699a8;
}

.footer .footer_content .footer_top .follow h1:last-of-type{
    margin-top: 50px;
}

.footer .footer_content .footer_top .contact .call{
    margin-top: 20px;
}

.footer .footer_content .footer_top .contact .icon i:hover{
    color: #ffffff;
    cursor: pointer;
}

.footer .footer_content .footer_copyright p{
    margin-bottom: 0px;
}

hr{
    color: #8699a8;
}










/******************   Responsive Design Start    *************/




/****  1200.98  ***/

@media (max-width:1200.98px){


    .page_2 .pg2_content .winning_content .technology {
        margin-right: 0px;
    }
    .page_4 .pg4_content .img_content a {
        margin-right: 20px;
    }
    .page_4 .pg4_content .img_content img {
        width: 390px;
        height: 230px;
    }
    .page_6 .manufacturing {
        margin-right: 0px;
    }
    


}


                                         /****  1024  ***/

@media (max-width:1024.98px){


    .contact_phone.d-flex.col-xl-4.col-lg-4.col-md-4 {
        padding: 0;
    }
    .page_2 .pg2_content .winning_content .technology {
        margin-right: 0;
    }
    .page_4 .pg4_content .img_content img {
        width: 430px;
        height: 260px;
    }
    .page_6 .manufacturing {
        margin-right: 0px;
    }
    .page_9 .pg9_content img:last-of-type {
        margin-top: 10px;
    }
    
}



                                             /****  991  ***/



@media (max-width:991.98px){

    .logo_content img {
        width: 80%;
    }
    .header_content .header_top .contact_text .contact_mail {
        padding-left: 0px;
    }
    .header_content .header_top .contact_text .language .text .english {
        padding-right: 5px;
    }
    .header_content .header_top .contact_text .contact_mail::before {
        display: none;
    }
    .header_content .header_top .contact_text .contact_phone::before {
        display: none;
    }
    .header_content .header_top .contact_text h3 {
        font-size: 14px;
    }
    .header_content .header_top .contact_text p {
        font-size: 12px;
    }
    .header_content .header_top .contact_text .language .text {
        margin-top: 0;
    }
    .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
        justify-content: center;
    }
    .navbar-nav {
        margin-top: 15px;
    }
    .page_1 .text_content h1 {
        font-size: 40px;
    }
    .page_1 .text_content p {
        font-size: 18px;
    }
    .page_2 .pg2_content .winning_content .technology {
        margin-bottom: 20px;
    }
    .page_3 .pg3_content .img_content {
        padding-top: 150px;
    }
    .page_3 .pg3_content .text_content p {
        font-size: 14px;
    }
    .page_3 .pg3_content .img_content img {
        width: 100%;
        height: auto;
    }
    .page_4 .pg4_content .img_content img {
        width: 325px;
        height: 225px;
    }
    .page_4 .pg4_content .img_content a {
        margin-right: 12px;
    }
    .page_5 .pg5_content .number_content h3 {
        font-size: 40px;
    }
    .page_5 .pg5_content p {
        font-size: 14px;
    }
    .page_5 .pg5_content .number_content .years::before {
        font-size: 45px;
        top: 20px;
    }
    .page_5 .pg5_content .number_content .clients::before {
        font-size: 45px;
        top: 20px;
    }
    .head_text h1 {
        font-size: 28px;
    }
    .page_6 .manufacturing h1::before {
        left: 46%;
    }
    .page_6 .manufacturing {
        margin-bottom: 15px;
    }
    .page_7 .pg7_content .text_content h1 {
        font-size: 28px;
    }
    .page_9 .pg9_content img {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .page_9 .pg9_content img:last-of-type {
        margin-top: 0px;
    }
    .footer .footer_content .footer_top h1 {
        font-size: 16px;
    }
    .footer .footer_content p {
        font-size: 12px;
    }
    .footer .footer_content .footer_top li a {
        font-size: 12px;
    }
    .top_button .icon img {
        right: -45px;
        bottom: 30px;
        width: 50px;
    }

}




                                             /****  767  ***/



@media (max-width:767.98px){


    .logo_content.col-xl-5.col-lg-3.col-md-3.col-sm-12.col-12 {
        text-align: center;
    }
    .logo_content img {
        width: 32%;
    }
    .header_content .header_top .contact_text .icon i {
        color: #0067b1;
        margin-top: 7px;
    }
    .header_content .header_top .contact_text {
        margin-top: 25px;
    }
    .header_content .header_top .contact_text .contact_mail {
        padding-left: 15px;
    }
    .page_1 {
        padding-top: 100px;
        padding-bottom: 170px;
    }
    .header_content .header_bottom .navbar-nav a {
        font-size: 15px;
        padding: 10px;
    }
    .page_1 .text_content h1 {
        font-size: 30px;
    }
    .page_1 .text_content p {
        font-size: 14px;
    }
    .page_1 .text_content button {
        margin-top: 25px;
    }
    .page_3 .pg3_content {
        text-align: center;
    }
    .page_3 .pg3_content .text_content h1::before {
        left: 45%;
    }
    .page_4 .pg4_content .img_content img {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }
    .head_text h1::before {
        left: 44%;
    }
    .page_5 .pg5_content h1::before {
        left: 45%;
    }
    .page_5 .pg5_content .number_content .years::before {
        display:none;
    }
    .page_5 .pg5_content .number_content .clients::before {
        display: none;
    }
    .page_7 .pg7_content {
        text-align: center;
    }
    .page_7 .pg7_content .pg7_btn button {
        margin-top: 20px;
    }
    .company.col-xl-2.col-lg-2.col-md-2.col-sm-6.col-12 {
        padding-left: 125px;
    }
    .follow.col-xl-2.col-lg-2.col-md-2.col-sm-6.col-12 {
        padding-left: 125px;
    }
    .footer .footer_content .footer_top .follow h1:last-of-type {
        margin-top: 15px;
    }
    .footer .footer_content .footer_copyright p {
        text-align: center;
    }
    .top_button .icon img {
        right: -4px;
        bottom: 30px;
        width: 40px;
    }

}



                                           /****  575  ***/



@media (max-width:575.98px){


    .header_content .header_top .contact_text {
        display: none;
    }
    .header_bottom {
        margin-bottom: 10px;
    }
    .company.col-xl-2.col-lg-2.col-md-2.col-sm-6.col-12 {
        padding-left: 15px;
    }
    .follow.col-xl-2.col-lg-2.col-md-2.col-sm-6.col-12 {
        padding-left: 15px;
    }
    .footer .footer_content {
        text-align: center;
    }
    .footer .footer_content .footer_top h1::before {
        left: 45%;
    }
    .page_9 .pg9_content img {
        width: 200px;
        height: 100px;
    }
    .page_4 .pg4_content .img_content a {
        margin-right: 0px;
    }
    .d-flex {
        display: block !important;
    }
    .top_button .icon img {
        right: 20px;
        bottom: 68px;
    }

}


                                           /****  480  ***/



@media (max-width:480.98px){
    .page_1 .text_content h1 {
        font-size: 25px;
    }
    .page_1 .text_content p {
        font-size: 12px;
    }
    .page_1 .text_content button {
        font-size: 11px;
    }
    .head_text h1 {
        font-size: 25px;
    }
    .page_2 .pg2_content .winning_content h3 {
        font-size: 18px;
    }
    .page_2 .pg2_content .winning_content p {
        font-size: 14px;
    }
    .page_3 .pg3_content .text_content h1 {
        font-size: 25px;
    }
    .page_3 .pg3_content .text_content button {
        font-size: 11px;
    }
    .page_3 .pg3_content .img_content {
        padding-top: 40px;
    }
    .page_5 .pg5_content h1 {
        font-size: 25px;
    }
    .page_5 .pg5_content .number_content {
        margin-top: 18px;
    }
    .page_6 .manufacturing h1 {
        font-size: 18px;
    }
    .page_6 .manufacturing p {
        font-size: 14px;
    }
    .page_6 .manufacturing button {
        font-size: 11px;
    }
    .page_7 .pg7_content .text_content h1 {
        font-size: 18px;
    }
    .page_7 .pg7_content .pg7_btn button {
        font-size: 11px;
    }
    .carousel-control-next, .carousel-control-prev {
        top: 155px;
    }
    .page_9 .pg9_content img {
        width: 160px;
        height: 86px;
    }
    

}



                                   /****  360  ***/


@media (max-width:360.98px){


    .page_1 {
        padding-top: 75px;
        padding-bottom: 115px;
    }
    .page_1 .text_content h1 {
        font-size: 20px;
    }
    .page_1 .text_content p {
        font-size: 10px;
    }
    .page_1 .text_content button {
        padding: 10px 15px;
        font-size: 10px;
    }
    .page_1 .carousel-indicators {
        bottom: -90px;
    }
    .head_text h1 {
        font-size: 20px;
    }
    .page_2 .pg2_content .winning_content {
        margin-top: 45px;
    }
    .page_3 .pg3_content .img_content {
        padding-top: 35px;
    }
    .page_5 .pg5_content h1 {
        font-size: 20px;
    }
    .page_5 .pg5_content p {
        font-size: 12px;
    }
    .page_6 .manufacturing button {
        font-size: 10px;
        padding: 10px 15px;
    }
    .page_7 .pg7_content .pg7_btn button {
        font-size: 10px;
        padding: 10px 15px;
    }
}



/*****************************  CSS END   ***********************/